<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>A Parking Story - About</title>
    <!--flask links-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='skrollr.min.js') }}"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <!--<link rel="stylesheet" type="text/css"href="/Users/karen/dev/prk_story/prk_story/static/style.css">-->
</head>

<body>
        <div class="slide2">
        <div>
            <h2>About</h2>
            <p>I created this visualization as a self-directed project to learn more about Python, back-end programming, APIs requests and dynamic templating. I am interested in the future of open data and its potential to help make urban policy more accessible. I believe APIs for the built environment can empower citizens and improve civic participation. </p>
            
            <p>Designed and developed by <a href="http://http://karenstolzenberg.com/">Karen Stolzenberg</a>.</p>
        </div>

        <div class="nav" style="-webkit-justify-content:center;">
            <a style="padding-left:2em;" class="nav_link" href="/">Back</a>
           <!--top link was circular - just took this out!</a>
        </div>
        </div>
</body>

</html>